*{
	box-sizing: border-box;
	vertical-align:center;
}	

form{
	flex-direction: column;
    padding: 30px 60px;
	align-items: center;
	position:relative;
    border: 2px solid #4c74a0;
	width:600px;
	height:300px;
	display: flex;
}

#input{
	margin:10px 0px 10px 0px;
	width:200%;
	height:3em;
}

#label{
	text-align:center;
	display:inline-block;
	font-family: 'Times New Roman' ;
	border: 2px solid #4c74a0;
	width:100px;
	height:40px;
	font-size:18px;
	padding-top:8px;
	color: white;
	background-color:#679dcc;
}

#gender{
    
	font-family: 'Times New Roman' ;
	font-size:20px;

}

input,select{
	margin-left:20px;
    width:20px;
	height:20px;
    font-size:13px;
	border: 2px solid #4c74a0;
}

input[type='text']{
	width:350px;
	height:35px;
}

select{
	width:200px;
	height:35px;
}

button{
	margin-top:12px;
	width:150px;
	height:50px;
	padding:10px;
	font-family: 'Times New Roman' ;
	border: 2px solid #4c74a0;
	font-size:20px;
	border-radius:10px;
	color: white;
	background-color: #72a744 ;
}
